@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;500;600;700&family=Almarai:wght@300;400;700&display=swap');

:root {
  font-family: 'Almarai', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
