.env*
node_modules
*.csv
server/uploads/
*.log
google_service_account.json
.agents
graphify-out/
*backups
setup.cd
.claude/
*.mmdb
.specify/
.gemini/
*.zip
*Basecamp Download*
*Basecamp Download (2)*
*Basecamp Download (3)*
*Basecamp Download (4)*
*Basecamp Download (5)*
server/backup_db.js
TSC_BrandBook.pdf